<ion-header>
  <ion-toolbar class="arrierePlan">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img class="img-taille" src="../../assets/images/logo.png" alt="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="arrierePlan">
  <ion-row>
    <ion-col  size="6"></ion-col>
    <ion-col  size="6">
      <ion-col>
        <ion-button (click)="telecharger()" color="primary" style="float: left;">Télecharger</ion-button>
      </ion-col>
    </ion-col>
  </ion-row>
  <div class="row position">
    <div class="flex">
      <ion-row *ngFor="let groupe of groupe">
        <ion-col size="large" size="12">
          <ion-card>
            <p>{{groupe.groupe.nom_groupe}}</p>
            <ion-list>
              <ion-item>
                <ion-label>NOM</ion-label>
                <ion-label>EMAIL</ion-label>
                <ion-label>Tél</ion-label>
              </ion-item>
            </ion-list>
              <ion-list >
                <ion-item lines="none">
                  <ion-label>Nooo</ion-label>
                  <ion-label>pppp</ion-label>
                  <ion-label>78999</ion-label>
                </ion-item>
              </ion-list>
            </ion-card>
        </ion-col>
      </ion-row>

     
       
    </div>
  </div>
</ion-content>
