
<ion-content class="arrierePlan"  [fullscreen]="true"  [fullscreen]="true">
  
  <div class="login-logo">
    <img src="../../assets/images/logo.png" alt="logo">
  </div>

  <div class="container">
    <h6>Bienvenue sur <b class="nomApp">PartGROUPE</b> !</h6>
    <p><em>L'application qui vous facilite les partages en groupe.</em></p>
    <p><b>SIMPLE et RAPIDE !</b></p>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="login()">Se connecter</ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
